.trans {
	width: 400px;
	border: 2px solid gray;
	margin: 1rem;
	padding: 0.5rem 3rem 0.5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.amount {
	font-size: 1.3rem;
	font-weight: 500;
}
.delete {
	position: absolute;
	top: -0.4rem;
	right: 0.2rem;
	font-size: 1.5rem;
	cursor: pointer;
}
.delete:hover {
	color: red;
}
