* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: #777;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: inherit;
}
.btn {
	padding: 0.5rem;
	border: 2px solid green;
	background-color: white;
	cursor: pointer;
}